{% load static %}
{% include 'header.html' %}
<section class="free-trial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Reset <i>Password ! </i></h1>
                <h5 class="text-center">New member ? <a href="../start-free-trial">Create Account</a></h5>
               <form class="free-trial-from">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" />
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn form-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}