<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '' %}assets/css/style.css"/>
    <link rel="stylesheet"
          href="{% static '' %}assets/css/owl.carousel.min.css"/>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
    <script src="{% static '' %}assets/js/jquery-2.2.4.min.js"></script>
    <script src="{% static '' %}assets/js/bootstrap.min.js"></script>

    <title>Celebrity Virtual Makeover</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!--    <link rel="stylesheet" href="css/style.css">-->

    <!--Imports a model-viewer JavaScript code -->
    <!--It helps to handle how the 3D Object would be displayed -->
    <script type="module"
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule
            src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <ul class="col-12 list-unstyled">
                <li><a href="../start-free-trial" class="account-btn">Start Free Trial
                </a></li>
            </ul>
        </div>
    </div>
</header>