<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
<body>

<h2 class="w3-center">Manual Slideshow</h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="../media/src_image/1_CTft3D8.jpeg" style="width:100%">
  <img class="mySlides" src="../media/src_image/7_we8vSID.jpg" style="width:100%">
  <img class="mySlides" src="../media/src_image/2_IXxZd7w.png" style="width:100%">
  <img class="mySlides" src="../media/src_image/5.jpg" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>


</body>
</html>
